<!doctype html>
<title>
  Library Managment-Login
</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/style-admin.css") }}">
<body>
  <div class="body"></div>
		<!--<div class="grad"></div>-->
		<div class="header">
			<div>Library<span>Admin</span></div>
		</div>
		<br>
		<div class="login">
      {% for message in get_flashed_messages()%}
      {{ message }}
      {% endfor %}
      <form action="{{ url_for('search') }}" id="search" method="post">
				<input type="text" placeholder="Use [title/author/section/serial no.-author/title/section/serial no. for Books] [Username-user for username]" name="search"><br>
      </form>
      <br><br>
				<button type="submit" form="search" value="Submit">Search</button>
        <a href="{{ url_for('all_books') }}"><button type="submit">Show All Books</button></a>
        <a href="{{ url_for('issue_book') }}"><button type="submit" value="Submit">Issue/Return</button></a>
        <a href="{{ url_for('add') }}"><button type="submit">Add Book</button></a>
        <a href="{{ url_for('change_ad') }}"><button type="submit">Change Admin</button></a>
        <a href="{{ url_for('admin_logout') }}"><button type="submit">Log Out</button></a>
        <!--<a href=""><button type="submit">Delete DataBase</button></a>-->
		</div>
    <div class="footer">
      <div class="name">
        <div>Copyright &copy; <span>Jeevesh Narang</span></div>
    </div>
</body>
<script src="{{ url_for("static",filename="js/prefixfree.min.js") }}"></script>
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
</html>
