<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <title>Data Table</title>
        <link rel="stylesheet" href="{{ url_for("static",filename="css/style-all.css") }}">
<head>
  <body >
<div>
<div class="table-title">
<h3>DataBase</h3>
<a href="{{ url_for('admin') }}"><button type="submit">Admin Panel</button></a>
<br><br>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Name</th>
<th class="text-left">Author</th>
<th class="text-left">Quantity</th>
<th class="text-left">Section</th>
<th class="text-left">Serial No.</th>
</tr>
</thead>
<tbody class="table-hover">
{% for book in books %}
<tr>
<td class="text-left">{{ book.name }}</td>
<td class="text-left">{{ book.author }}</td>
<td class="text-left">{{ book.quantity }}</td>
<td class="text-left">{{ book.section }}</td>
<td class="text-left">{{ book.serialno }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="spacer">
</div>

  <div class="footer">
    <div class="name">
      <div>Copyright &copy; <span>Jeevesh Narang</span></div>
  </div>
</body>
</html>
