<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <title>Data Table</title>
        <link rel="stylesheet" href="{{ url_for("static",filename="css/issue-book.css") }}">
<head>
  <body >
<div class="table-title">
  <h3 style="font-family: 'Exo', sans-serif">Issue Book</h3>
  {% for message in get_flashed_messages() %}
  {{ message }}
  {% endfor %}
  <form action="{{ url_for('book_issue_return') }}" id="issue" method="post">
    <input type="text" placeholder="User-Name" name="username">
    <input type="text" placeholder="Serial-No." name="serialno">
    <button type="submit" form="issue" id="iss" name="Submit" value="Issue">Issue Book</button>
    <button type="submit" form="issue" id="iss" name="Submit" value="Return">Return Book</button>
    <a href="{{ url_for('admin') }}"><button type="button" id="iss">Cancel</button></a>
  </form>
  <br><br>
  <form action="{{ url_for('search_issue') }}" id="search" method="post">
    <input type="text" placeholder="Search For Book" name="search" id="book">
    <button type="submit">Search Book</button></a>
  </form>
<br><br>
</div>
<table class="table-fill">
<thead>
{% if query == "user" %}
<tr>
<th class="text-left">Name</th>
<th class="text-left">number</th>
<th class="text-left">E-mail</th>
<th class="text-left" colspan="3" rowspan="3">Books</th>
</tr>
</thead>
<tbody class="table-hover">
{% for user in users %}
<tr>
<td class="text-left">{{ user.name }}</td>
<td class="text-left">{{ user.number }}</td>
<td class="text-left">{{ user.email }}</td>
<td class="text-left">
{% for book in books %}
<ul>
<li>NAME:&nbsp&nbsp&nbsp{{ book.name }}</li>
<li>Issued On:&nbsp&nbsp&nbsp{{ book.issued_on.date() }}</li>
<li>To Be Returned On:&nbsp&nbsp&nbsp{{ book.to_be_returned.date() }}</li>
<li>Serial No.:&nbsp&nbsp&nbsp{{ user.books }}</li>
</ul>
<br>
<br>
{% endfor %}
</td>

</tr>
{% endfor %}
{% else %}
<tr>
<th class="text-left">Name</th>
<th class="text-left">author</th>
<th class="text-left">Quantity</th>
<th class="text-left">Section</th>
<th class="text-left">Serial No.</th>
</tr>
</thead>
<tbody class="table-hover">
{% for book in books %}
<tr>
<td class="text-left">{{ book.name }}</td>
<td class="text-left">{{ book.author }}</td>
<td class="text-left">{{ book.quantity }}</td>
<td class="text-left">{{ book.section }}</td>
<td class="text-left">{{ book.serialno }}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>


  </body>
  <div class="footer">
    <div class="name">
      <div>Copyright &copy; <span>Jeevesh Narang</span></div>
  </div>





  </body>
</html>
