<!doctype html>
<title>
  Library Managment-Sign Up
</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/style-sign-up.css") }}">
<body>
  <div class="body" style="background-image: url({{ url_for("static",filename="img/main-bg.jpg") }}"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Student<span>Sign Up</span></div>
		</div>
		<br>
		<div class="sign-up">
      {% for message in get_flashed_messages()%}
      {{ message }}
      {% endfor %}
      <form action="{{ url_for('signed_up') }}" id="sign-up" method="post">
				<input type="text" placeholder="Full Name" name="name"><br><br>
        <input type="text" placeholder="Username" name="user"><br><br>
        <input type="text" placeholder="Phone No." name="number"><br><br>
        <input type="text" placeholder="E-Mail" name="email"><br>
				<input type="password" placeholder="Password" name="password"><br>
        <input type="password" placeholder="Repeat Password" name="rep_password"><br>
      </form>
				<button type="submit" form="sign-up" value="Submit">Sign Up</button>
		</div>
    <div class="footer">
      <div class="name">
        <div>Copyright &copy; <span>Jeevesh Narang</span></div>
    </div>
</body>
<script src="{{ url_for("static",filename="js/prefixfree.min.js") }}"></script>
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
</html>
